[*.cs]

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = false

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true
